<footer class="bg-black py-6 text-center text-gray-500">
    <p>&copy; 2025 Cinéphoria. Tous droits réservés.</p>
    <p>Adresse (Siège social) : 123 Avenue des Films, 75000 Paris</p>
    <p>Numéro de GSM : 01 23 45 67 89</p>
    <p>Horaires : Lundi - Dimanche: 10h00 - 23h00</p>
</footer>