{% extends 'layouts/baseEmployee.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
    <div class="mt-24 md:ml-64 px-4 sm:px-6 lg:px-8">
        <h1 class="text-2xl font-bold mb-6">Veuillez activer votre compte</h1>
        <p>Votre compte n'est pas encore activé.</p>
        <p>Vérifiez vos spams si vous n'avez pas reçu l'email ( ou contactez nous)</p>
    </div>
{% endblock %}
