<p>Bonjour {{ user.firstname }},</p>

<p>Merci de vous être inscrit sur notre site. Veuillez cliquer sur le lien ci-dessous pour activer votre compte :</p>

<p>
    <a href="{{ confirmationUrl }}">Activer mon compte</a>
</p>

<p>Si vous n'avez pas demandé cette inscription, veuillez ignorer cet e-mail.</p>

<p>Cordialement,<br>L'équipe de notre site</p>
