<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Demande de contact</title>
</head>
<body>
<h2>Demande de contact de {{ username }}</h2>
<p><strong>Titre:</strong> {{ title }}</p>
<p><strong>Description:</strong> {{ description }}</p>
</body>
</html>
